asn1crypto==0.23.0
cffi==1.11.2
click==6.7
cryptography==2.1.2
Flask==0.12.2
Flask-SQLAlchemy==2.3.2
idna==2.6
itsdangerous==0.24
Jinja2==2.9.6
jwcrypto==0.4.2
MarkupSafe==1.0
pycparser==2.18
six==1.11.0
SQLAlchemy==1.1.14
Werkzeug==0.12.2
pymysql
